
 /* service title styles  */
.service-title{
  color: rgb(3, 3, 46);
    padding: 50px;
}
.service-title h2{
     font-size: 40px;
     font-weight: 900;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
}

 /* service container  */
.services-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}

 /* responsive styles  */
@media only screen and (max-width:688px){
    .services-container{
        grid-template-columns: repeat(1,1fr);
    }
}
@media only screen and (man-width:688px) and (max-width:991px){
    .services-container{
        grid-template-columns: repeat(2,1fr);
    }
}
